table,td{
    border:1px solid #000;
    width: 400px;
    height: 50px;
    border-collapse: collapse;
}

tr:nth-child(even)
td:nth-child(even),
tr:nth-child(odd)
td:nth-child(odd){
    background-color: #a18262;
}

tr:nth-child(even)
td:nth-child(odd),
tr:nth-child(odd)
td:nth-child(even){
    background-color: #f08020;
}